<%- include('../parts/head',{title:'Pizzaria Fantástica'}); %>
<%- include('../adm/menu'); %>
<link rel="stylesheet" href="/css/list-pizza.css">
<div id="list-pizza">
	<a href="/pizzas/create">Adicionar nova pizza</a>
	<table>
		<tbody>
			<% for(let pizza of pizzas ) { %>
			<tr>
				<td>
					<img src="<%= pizza.img %>" alt="<%= pizza.nome %>"></td>
				<td><%= pizza.nome %></td>
				<td>
					<%= pizza.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %>
				</td>
				<td><%= pizza.ingredientes.join(", ") %></td>
				<td>
					<form method="POST" action="/pizzas/<%= pizza.id %>?_method=DELETE">
						<button type="submit">Remover</button>
					</form>
					<a href="/pizzas/<%= pizza.id %>/edit">Editar</button>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
<%- include('../parts/foot'); %>