<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<link rel="stylesheet" href="/css/index.css">
	<form action="/busca" method="GET">
		<input type="text" name="busca" placeholder="Qual pizza você procura?" autocomplete="off">
		<button type="submit">Buscar</button>
	</form>
	
	<main>
		<% for (let pizzas of pizzasJson) { %>
		<article>			
			<img src="<%= pizzas.img %>" alt="<%= pizzas.nome %>">
			<a href="/pizzas/<%= pizzas.id %>">Ver Mais</a>
			<button>+ Add</button>
			<div><%= pizzas.nome %></div>
			<span><%= pizzas.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %>
			</span>
		</article>
		<% } %>		
	</main>
</body>
</html>