<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<link rel="stylesheet" href="/css/index.css">
	<form action="/busca" method="GET">
		<input type="text" name="busca" placeholder="Qual pizza você procura?" autocomplete="off">
		<button type="submit">Buscar</button>
	</form>
	<main>
		<% for(let pizza of pizzas) { %>
		<article>
			<img src="<%= pizza.img %>" alt="<%= pizza.nome %>">
			<a href="/pizzas/<%= pizza.id %>">Ver Mais</a>
			<button>+ Add</button>
			<div><%= pizza.nome %></div>
			<span><%= pizza.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.',',') %></span>
		</article>
		<% } %>
	</main>
</body>
</html>