<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<link rel="stylesheet" href="/css/pizza.css">
	<main>	
		<h1><%= pizzas.nome %></h1>
		<h2><%= pizzas.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %></h2>
		<img src="<%= pizzas.img %>" alt="Fracatu">
		<div><%= pizzas.ingredientes %></div>
		<button>+ Add</button>
		<a href="/pizzas/<%= pizzas.id %>" class="prev">&lt;</a>
		<a href="/pizzas/<%= pizzas.id %>" class="next">&gt;</a>
	</main>
</body>
</html>