<%- include('parts/head',{title:'Pizzaria Fantástica'}); %>
	<h1><%= pizza.nome %></h1>
	<h2><%= pizza.preco %></h2>
	<img src="<%= pizza.img %>" alt="<%= pizza.nome %>">
	<ul>
		<% for(let ingrediente of pizza.ingredientes) { %>
		<li><%= ingrediente %></li>
		<% } %>
	</ul>
	<%- include('parts/foot'); %>